<!-- inject:js -->
<script src="static/js/d3.min.js"></script>
<script src="static/js/getmdl-select.min.js"></script>
<script src="static/js/material.min.js"></script>
<script src="static/js/nv.d3.min.js"></script>
<script src="static/js/layout/layout.min.js"></script>
<script src="static/js/scroll/scroll.min.js"></script>
<script src="static/js/widgets/charts/discreteBarChart.min.js"></script>
<script src="static/js/widgets/charts/linePlusBarChart.min.js"></script>
<script src="static/js/widgets/charts/stackedBarChart.min.js"></script>
<script src="static/js/widgets/employer-form/employer-form.min.js"></script>
<script src="static/js/widgets/line-chart/line-charts-nvd3.min.js"></script>
<script src="static/js/widgets/map/maps.min.js"></script>
<script src="static/js/widgets/pie-chart/pie-charts-nvd3.min.js"></script>
<script src="static/js/widgets/table/table.min.js"></script>
<script src="static/js/widgets/todo/todo.min.js"></script>
<!-- endinject -->

</body>
</html>